# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data (too large for git)
data/
*.csv
*.zip

# Allow model feature list in api
!api/models/api_feature_names.csv

# Environment
.env

# IDE
.idea/
.vscode/
.DS_Store

# Streamlit
.streamlit/
